.code {
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: 1px solid #D8D8D8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.origin {
    color: #269E37;
    margin-left: 5px;
}
.search-wrap {
    text-align: center;
}
.prettyprint .linenums > li {
    list-style-type: decimal;
}
