.code {
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    line-height: 18px;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background-color: white;
    border: 1px solid #D8D8D8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.origin {
    color: #269E37;
}
.message {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial,
                 freesans, sans-serif, "Apple Color Emoji",
                 "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
}
.line-no {
    color: #000;
    color: rgba(0, 0, 0, 0.3);
}
.severity-info {
    color: skyblue;
}
.severity-normal {
    color: #B9B46B;
}
.severity-major {
    color: red;
}
.search-wrap {
    text-align: center;
}
.prettyprint .linenums > li {
    list-style-type: decimal;
}
