.directory
.idea
.kdev4
__pycache__
*~
*.mo
*.pyc
.coverage
*.patch
coverage.xml
htmlcov
*.orig
*.diff
*.kdev4
*.patch
*.sublime-project
*.sublime-workspace
.python-version
.egg-info
.coverage.*
site
.zanata-cache
*.exe
.cache
*.eggs
node_modules
*.log
*.jar
.vendor
Goopfile.lock
npm-debug.log
bower_components
