<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>coala report</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel='stylesheet' type='text/css'
      href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext'>
    <link rel="stylesheet"
          href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"
          href="bower_components/google-code-prettify/src/prettify.css">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet"
          href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet"
          href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">

    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="stylesheet" href="app/styles/logs.css">
    <link rel="stylesheet" href="app/styles/files.css">
    <script
      src="bower_components/jquery/dist/jquery.min.js"></script>
    <style>
    body {
      font-family: Lato, sans-serif;
    }
    .prettyprint .linenums > li {
      list-style-type: decimal;
    }
    </style>
  </head>
  <body ng-class="{'dark':!THEME}" ng-app="coalaHtmlApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to
        improve your experience.
      </p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div ng-class="{'dark':!THEME}" class="navbar navbar-default navbar-fixed-top "
           role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">coala-html</a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul bs-nav-active class="nav navbar-nav">
              <li>
                <a href="#/">Results
                  <span ng-if="resultsCount" class = "result-badge badge">
                    {{ resultsCount }}
                  </span>
                </a>
              </li>
              <li>
                <a href="#/file/">Files
                  <span ng-if="filesCount" class = "file-badge badge">
                    {{ filesCount }}
                  </span>
                </a>
              </li>
              <li>
                <a href="#/logs">Logs
                  <span ng-if="logsCount" class = "log-badge badge">
                    {{ logsCount }}
                  </span>
                </a>
              </li>
              <li class="form-group label-floating" ng-show="resultsCount" >
                  <label for="search" class="control-label">Search</label>
                  <input class="form-control" id="search" ng-model="q" type="text" />
              </li>
            </ul>
          </div>
        </div>
        <div class="togglebutton">
          <label>
            <span class="theme-type">{{THEME ? "Light" : "Dark"}}</span>
            <input ng-model="THEME" type="checkbox"  />
          </label>
        </div>
      </div>
    </div>

    <div class="container">
    <div class="app-body" ng-view=""></div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script
      src="bower_components/google-code-prettify/src/prettify.js"></script>
    <script
      src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script
      src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script
      src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/directives.js"></script>
    <script src="app/controllers/main.js"></script>
    <script src="app/controllers/logs.js"></script>
    <script src="app/controllers/files.js"></script>
    <script type="text/javascript">
      $.material.init();
    </script>
  </body>
</html>
