<div class="files">
  <div class="dir-contents" ng-if="fileType === 'dir'">
    <h3>
    Contents of <span class="filename">{{ fileName }}</span>
    </h3>
    <table class="table table-striped table-bordered table-condensed"
           table-row-links>
      <tr class="file-previous" ng-if="fileName !== ROOTHOME">
        <td>
          <a ng-href="#/file/{{ fileBack }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="file-name">[Previous directory]</span>
          </a>
        </td>
      </tr>
      <tr ng-repeat="(dirFile, dirFileType) in fileContents">
        <td>
          <a ng-href="#/file/{{ dirFile }}">
            <span class="glyphicon glyphicon-file"
                  ng-if="dirFileType === 'file'"></span>
            <span class="glyphicon glyphicon-folder-open"
                  ng-if="dirFileType === 'dir'"></span>
            <span class="file-name">{{ basename(dirFile) }}</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="file-contents" ng-if="fileType === 'file'">
    <h3>
      Contents of
      <span class="filename">{{ fileName }}</span>
    </h3>
    <table class="table table-striped table-bordered table-condensed"
           table-row-links>
      <tr class="file-previous" ng-if="fileName !== ROOTHOME">
        <td>
          <a ng-href="#/file/{{ fileBack }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span class="file-name">[Previous directory]</span>
          </a>
        </td>
      </tr>
    </table>
    <pre ng-bind-html="fileContents" class="prettyprint linenums"></pre>
  </div>
</div>
