<div class="search-wrap" ng-show="resultsCount">
  <input ng-model="q" type="text" placeholder="Search" class="search"/>
</div>
<div ng-repeat="info in data">
  <div ng-repeat="(file, result) in info">
    <div class="code" ng-repeat="item in result | filter:q">
      <span class="text-primary">{{ file }}</span><br/>
      <span class="severity
                   label label-{{ SEVERITY_TO_BOOTSTRAP[item.severity] }}">
        {{ RESULT_SEVERITY[item.severity] }}
      </span>
      <span class="origin">{{ item.origin  }}</span>
      <br/>
      <span class="message">{{ item.message }}</span>
      <pre
        ng-bind-html="FILE_DATA[file].slice(item.start-1, item.end).join('\n')"
        class="prettyprint linenums:{{ item.start }}"></pre>
    </div>
  </div>
</div>
<div ng-hide="resultsCount">
  <h3>Everything's fine. No errors found.</h2>
</div>
