.highlight-line {
    background: #9E5660 !important;
}
.dir-contents .file-name {
    margin-left: 5px;
    color: #196465 !important;
}

.diff-highlight{
    background: #bda596 !important;
}
.msg-highlight{
    color: #d75a98 !important;
    font-family: monospace;
    font-weight: 900;
    background: transparent;
}
.table-row-link {
    cursor: pointer;
    cursor: hand;
}
.filename{
    color: blue;
}
.result-found{
    float:right;
    color: red;
}
/* Dark */
pre.dark { display: block; background-color: #333 }
pre.dark .nocode { background-color: none; color: #000 }
pre.dark .str { color: #ffa0a0 } /* string  - pink */
pre.dark .kwd { color: #f0e68c; font-weight: bold }
pre.dark .com { color: #87ceeb } /* comment - skyblue */
pre.dark .typ { color: #98fb98 } /* type    - lightgreen */
pre.dark .lit { color: #cd5c5c } /* literal - darkred */
pre.dark .pun { color: #fff }    /* punctuation */
pre.dark .pln { color: #fff }    /* plaintext */
/* Start ignoring LineLengthBear */
pre.dark .tag { color: #f0e68c; font-weight: bold } /* html tag - lightyellow */
pre.dark .atn { color: #bdb76b; font-weight: bold } /* attribute name - khaki */
/* Stop ignoring */
pre.dark .atv { color: #ffa0a0 } /* attribute value - pink */
pre.dark .dec { color: #98fb98 } /* decimal - lightgreen */

pre.dark ol.linenums { margin-top: 0; margin-bottom: 0;
                       color: #AEAEAE !important;}
pre.dark li.L0,
pre.dark li.L1,
pre.dark li.L2,
pre.dark li.L3,
pre.dark li.L4,
pre.dark li.L5,
pre.dark li.L6,
pre.dark li.L7,
pre.dark li.L8,
pre.dark li.L9 {background-color: #333; }


/* Light */

/*! Color themes for Google Code Prettify
  MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
pre {
  background: #efebd6;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono",
               Monaco, Consolas, monospace;
  border: 0 !important;
}
.pln {
  color: #20201d;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #999580;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #efebd6;
  list-style-type: decimal;
}
 /* string content */
.str {   color: #60ac39; }
/* keyword */
.kwd {   color: #b854d4; }
/* comment */
.com {   color: #999580; }
/* type name */
.typ {   color: #6684e1; }
/* literal value */
.lit {   color: #b65611; }
/* punctuation */
.pun {   color: #20201d; }
/* lisp open bracket */
.opn {   color: #20201d; }
/* lisp close bracket */
.clo {   color: #20201d; }
/* markup tag name */
.tag {   color: #d7337; }
/* markup attribute name */
.atn {   color: #b65611; }
/* markup attribute value */
.atv {   color: #1fad83;
/* declaration */
.dec {   color: #b65611; }
/* variable name */
.var {   color: #d73737; }
/* function name */
.fun {   color: #6684e1; }
