.code {
    padding: 10px;
    margin: 5px;
    background-color: white;
    border: 1px solid #D8D8D8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.origin {
    color: #269E37;
    margin-left: 5px;
}
.search-wrap {
    text-align: center;
}
.search{
    padding: 3px;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
}
.result-badge, .file-badge, .log-badge {
    padding: 4px 5px;
    margin-left: 0.5em;
}
.result-badge {
    background-color: #CE6F40;
}
.file-badge {
    background-color: #88C88D;
}
.log-badge {
    background-color: #888DC8;
}
.app-body{
    margin-top: 100px;
}
/* Dark theme */
body-dark{
  background-color:rgba(66, 81, 76, 0.91);
}
.code-dark{
    background-color: #E7E7E7;
}
.navbar-default-dark {
  background-color: #484747;
  border-color: transparent;
}

/* Light theme */
body-light{
  background-color:#BDE5A6;
}
.navbar-default-light {
  background-color: rgba(168, 212, 142, 0.96);
  border-color: transparent;
}
.code-light{
  background-color: transparent;
  border: 1px solid #112C02;
}
