<div ng-repeat="info in data">
  <div ng-repeat="(file, result) in info">
    <div class="code" ng-class="{'dark':!THEME}" ng-repeat="item in result | filter:q">
      <span ng-class="{'dark':!THEME}" class="text-primary">{{ file }}</span><br/>
      <span class="severity
                   label label-{{ SEVERITY_TO_BOOTSTRAP[item.severity] }}">
        {{ RESULT_SEVERITY[item.severity] }}
      </span>
      <span ng-class="{'dark':!THEME}" class="origin">{{ item.origin  }}</span>
      <br/>
      <span ng-class="{'dark':!THEME}" class="message">{{ item.message }}</span>
      <pre
        ng-bind-html="FILE_DATA[file].slice(item.start-1, item.end).join('\n')"
        ng-class="{'dark':!THEME}"
        class="prettyprint linenums:{{ item.start }}"></pre>
    </div>
  </div>
</div>
<div ng-hide="resultsCount">
  <h3>Everything's fine. No errors found.</h2>
</div>
