<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>coala report</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700,900">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,800,900">
    <link rel="stylesheet"
          href="bower_components/google-code-prettify/src/prettify.css">
    <link rel="stylesheet"
          href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet"
          href="https://rawgit.com/coala/coalaCSS/master/coala.css">
    <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/styles/main.css">
    <link rel="stylesheet" href="app/styles/logs.css">
    <link rel="stylesheet" href="app/styles/files.css">
    <script
      src="bower_components/jquery/dist/jquery.min.js"></script>
    <style>
    body {
      font-family: Roboto, sans-serif;
    }
    .prettyprint .linenums > li {
      list-style-type: decimal;
      border-radius: 0;
    }
    </style>
  </head>
  <body ng-class="{'dark':!THEME}" ng-app="coalaHtmlApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to
        improve your experience.
      </p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="tab-container" ng-controller="TabCtrl">
    <div class="row">
      <nav>
        <div class="col s12 nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
          </a>
          <ul class="tabs hide-on-med-and-down">
            <li class="tab col s12">
              <a ng-click="setTab('/')" ng-class="{active:isSet('/')}">RESULTS
                <span ng-if="resultsCount" class = "result-badge badge">
                  {{ resultsCount }}
                </span>
              </a>
            </li>
            <li class="tab col s12">
              <a ng-click="setTab('/file/')" ng-class="{active:isSet('/file/')}">FILES
                <span ng-if="filesCount" class = "file-badge badge">
                  {{ filesCount }}
                </span>
              </a>
            </li>
            <li class="tab col s12">
              <a ng-click="setTab('/logs')" ng-class="{active:isSet('/logs')}">LOGS
                <span ng-if="logsCount" class = "log-badge badge">
                  {{ logsCount }}
                </span>
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="tab col s12">
              <a ng-click="setTab('/')" ng-class="{active:isSet('/')}">RESULTS
                <span ng-if="resultsCount" class = "result-badge badge">
                  {{ resultsCount }}
                </span>
              </a>
            </li>
            <li class="tab col s12">
              <a ng-click="setTab('/file/')" ng-class="{active:isSet('/file/')}">FILES
                <span ng-if="filesCount" class = "file-badge badge">
                  {{ filesCount }}
                </span>
              </a>
            </li>
            <li class="tab col s12">
              <a ng-click="setTab('/logs')" ng-class="{active:isSet('/logs')}">LOGS
              <span ng-if="logsCount" class = "log-badge badge">
                  {{ logsCount }}
              </span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    </div>
    <div class="main-content">
    <div class="container">
    <div ng-view=""></div>
    </div>
    </div>

    <div class="footer">
      <div ng-class="{'dark':!THEME}" class="container footer-text">
        <p class="coala-footer">coala<span
        ng-class="{'dark':!THEME}" class="io-coala">.io</span>
        </p>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script
      src="bower_components/google-code-prettify/src/prettify.js"></script>
    <script
      src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/directives.js"></script>
    <script src="app/controllers/main.js"></script>
    <script src="app/controllers/logs.js"></script>
    <script src="app/controllers/files.js"></script>
    <script src="app/controllers/tabs.js"></script>
    <script>
      $(document).ready(function () {
          $('select').material_select();
          $(".button-collapse").sideNav();
          $('ul.tabs').tabs();
      });
    </script>
  </body>
</html>
